<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
/*
 * Criado em 23/11/2017
 * Autor: GetSystem - www.getsystem.com.br
 * Fone: (49) 3224-5635
 * http://www.getsystem.com.br
 */
-->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="content-language" content="pt_BR" />
	<meta name="Description" content='' />
	<meta name="author" content="GetSystem - Soluções Web" />     
	<meta name="language" content="pt-br" />

	<style type="text/css">
		@import "css/site.css";
		@import "css/messi.css";
		@import "css/flexslider.css";
		@import "css/jquery.fancybox.css";
		@import "css/ddsmoothmenu.css";
	</style>

    <script type="text/javascript" src="js/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="js/valida.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="js/text_count.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:500" rel="stylesheet">

	<script type="text/javascript">
    ddsmoothmenu.init({
	 mainmenuid: "smoothmenu2", //menu DIV id
	 orientation: "v", //Horizontal or vertical menu: Set to "h" or "v"
	 classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
	 //customtheme: ["#1c5a80", "#18374a"],
	 contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
		})	    
	</script>

<!--	<script type="text/javascript"> -->
<!--	var $buoop = {vs:{i:7,f:4,o:10.6,s:4,n:9}} -->
<!--	$buoop.ol = window.onload; -->
<!--	window.onload=function(){ -->
<!--	 try {if ($buoop.ol) $buoop.ol();}catch (e) {} -->
<!--	 var e = document.createElement("script"); -->
<!--	 e.setAttribute("type", "text/javascript"); -->
<!--	 e.setAttribute("src", "http://www.getsystem.com.br/js/update.js"); -->
<!--	 document.body.appendChild(e); -->
<!--	} -->
<!--	</script>-->

	<!--  inserir script analitycs	-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2819380-34']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "fade"
            });
            $(".fancy").fancybox({
                closeBtn : true,
            });
        });
    </script>

    <title>II EDUPALA</title><script type="text/javascript" src="js/messi.js"></script>
<!-- 
<script type="text/javascript">
    $(document).ready(function() {
		new Messi('<b>Atenção:</b> <br /> Inscrições pelo site encerradas. Serão aceitas inscrições e pagamentos no local do evento', {center: false, viewport: {top: '20px', left: '10px'}}); 
    });
    </script>
 -->
</head>
<body>
    <div id="site">
		<div id="topo">
      			<img src="imagens/topo.png" />
				<div class="flexslider">
				  <ul class="slides">
                      <li>
                          <img src="imagens/Edupala topo (1).jpeg"  />
                      </li>
                      <li>
                          <img src="imagens/Edupala topo (2).jpeg"  />
                      </li>
                      <li>
                          <img src="imagens/Edupala topo (3).jpeg"  />
                      </li>
                      <li>
                          <img src="imagens/Edupala topo (4).jpeg"  />
                      </li>



				    <li>
				      <img src="imagens/img1.jpg"  />
				    </li>
				    <li>
				      <img src="imagens/img2.jpg"  />
				    </li>
				    <li>
				      <img src="imagens/img3.jpg"  />
				    </li>
				    <li>
				      <img src="imagens/img4.jpg"  />
				    </li>
				  </ul>
				</div>
      		</div>     
      	<div id="centro">      			      			
				
<div id="bloco_esq">
    <div id="menu">
        <div class="link" style="margin-top: 30px;">
            <a href="index.php" class="link_texto">Apresentação <img class="bandeiras" alt="" src="imagens/brasil.png" width="30px" height="30px"/></a>
            
        </div>
        <div class="link">
            <a href="indexIngles.php" class="link_texto">Introduction <img class="bandeiras" alt="" src="imagens/eua.png" width="30px" height="30px"/></a>
        </div>
        <div id="smoothmenu2" class="ddsmoothmenu-v">
            <ul>
                <li class="link2"><span class="link_texto">Programação</span>
                    <ul>
                        <li><a href="programacao.php" class="sublink"><span
                                class="link_SubTexto">Programação Científica</span></a></li>
                    </ul></li>
            </ul>
        </div>
        <div class="link">
            <a href="cadastro_evento.php" class="link_texto">Inscrição</a>
        </div>
         <div id="smoothmenu2" class="ddsmoothmenu-v">
            <ul>
                <li class="link2"><span class="link_texto">Envio de Trabalhos</span>
                    <ul>
                        <li><a href="resumo.php" class="sublink"><span class="link_SubTexto">Trabalho Completo </span></a></li>
                        <li><a href="submissao.php" class="sublink"><span class="link_SubTexto">e-Pôster </span></a></li>
                        <li><a href="fotografica.php" class="sublink"><span class="link_SubTexto">Mostra Fotográfica</span></a></li>
                    </ul>
                </li>
            </ul>
         </div>         
        <div class="link">
            <a href="livro.php" class="link_texto">Divulgue seu Livro</a>
        </div>
        <div class="link">
            <a href="gts.php" class="link_texto">GTs do Evento</a>
        </div>
        <div id="smoothmenu2" class="ddsmoothmenu-v">
            <ul>
                <li class="link2"><span class="link_texto">Local do evento</span>
                    <ul>
                        <li><a href="local.php" class="sublink"><span
                                class="link_texto">Endereço</span></a></li>
                        <li><a href="logistica.php" class="sublink"><span
                                class="link_texto">Logística</span></a></li>
                        <li><a href="regiao.php" class="sublink"><span
                                class="link_texto">A região</span></a></li>
                    </ul></li>
            </ul>
        </div>
        <div class="link">
            <a href="comissoes.php" class="link_texto">Comissões</a>
        </div>
        <div class="link">
            <a href="contato.php" class="link_texto">Fale Conosco</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <a target="_blank" href="downloads/ANAIS_I_EDUPALA_2016.pdf" class="botao">
        Anais do I Edupala
    </a>
</div>
    
      			<div id="bloco_direito">
                <div id="conteudo">
<!--                    <h3 style="color:#b61f19;text-align: center">DATA LIMITE PARA ENVIO DE TRABALHOS <br> prorrogado até 07 de maio de 2017 até as 20h (BRT)</h3>-->
                    <p class="titulo">Apresentação</p>
                    <p>Em sua 1ª edição no ano de 2016, O <b>Congresso Internacional Conhecimentos Pertinentes para a Educação na América Latina - EDUPALA</b> teve como norte a perspectiva teórica descolonial e a possibilidade de compreensão do mundo a partir do local em que se vive, valorizando a história cultural e regional.  As reflexões sobre esses pressupostos potencializaram o protagonismo na pesquisa, ensino e extensão, tripé que fundamenta as ações da Universidade do Planalto Catarinense UNIPLAC.</p>
                    <p>Na 2ª edição do <b>Congresso Internacional Conhecimentos Pertinentes para a Educação na América Latina - EDUPALA de 2018</b>, ano em que se comemora os 13 anos de existência do Curso de Mestrado em Educação, nossos olhares se voltam ao "formador latinoamericano". Campo ainda pouco explorado pela Educação, a formação de formadores inclui discussões sobre a formação de professores, mediadores sociais, agentes de mudança, gestores, educadores sociais e demais profissionais e pesquisadores da área da Educação.</p>
                    <div class="galeria">
                        <a href="imagens/Edupala_Centro (1).jpeg" target="_blank" class="fancy" rel="group"><img src="imagens/Edupala_Centro (1).jpeg" /></a>
                        <a href="imagens/Edupala_Centro (2).jpeg" target="_blank" class="fancy" rel="group"><img src="imagens/Edupala_Centro (2).jpeg" /></a> <a
                            href="imagens/Edupala_Centro (3).jpeg" target="_blank" class="fancy" rel="group"><img src="imagens/Edupala_Centro (3).jpeg" /></a> <a
                            href="imagens/Edupala_Centro (4).jpeg" target="_blank" class="fancy" rel="group"><img src="imagens/Edupala_Centro (4).jpeg" /></a>
                    </div>
                    <div class="galeria">
                        <a href="imagens/gal1.jpg" target="_blank" class="fancy" rel="group"><img
                                src="imagens/tgal1.jpg" /></a> <a
                            href="imagens/gal2.jpg" target="_blank" class="fancy" rel="group"><img
                                src="imagens/tgal2.jpg" /></a> <a
                            href="imagens/gal3.jpg" target="_blank" class="fancy" rel="group"><img
                                src="imagens/tgal3.jpg" /></a> <a
                            href="imagens/gal4.jpg" target="_blank" class="fancy" rel="group"><img
                                src="imagens/tgal4.jpg" /></a>
                    </div>

                    <p>Sendo assim, é com satisfação que apresentamos <b>o II Edupala que se realizará nos dias 24, 25 e 26 de setembro de 2018 na Universidade do Planalto Catarinense, em Lages, Serra Catarinense.</b>
                        Este evento é organizado pelo corpo docente do Programa de Pós-Graduação em Educação (PPGE/UNIPLAC) e contará com a presença de estudiosos e pesquisadores brasileiros e estrangeiros que discutem sobre Formação de formadores.
                    </p>
                    <p>De identidade dinâmica professores e formadores se colocam frente ao desafio de construírem conhecimento e a si mesmos a partir das experiências, de diálogos teóricos e discussões que emergem nos diversos espaços formativos.
                    A ideia é promover um amplo debate sobre a formação não mais ancorada num paradigma reducionista e conteudista, mas aquela capaz de considerar os sujeitos em seus contextos, suas histórias de vida, experiências e saberes. Nesse sentido, o EDUPALA se abre a debates e reflexões sobre   os conhecimentos pertinentes à formação de formadores, principalmente, pela possibilidade de repensar práticas pedagógicas, perspectiva compatível com trabalho inovador, participativo e democrático.</p>
                    <p class="titulo">
                        Seja bem-vindo! <br>
                        Comissão Organizadora
                    </p>
                </div>
            </div>
        </div>

<table class="table_apoio" border="0">
    <tr>
        <th style="width: 300px;">Realização:</th>
        <th></th>
        <th> Apoio: </th>
    </tr>
    <tr>
        <td>
            <a href="http://www.uniplac.net/" target="_blank"><img src="imagens/uniplac.jpg" alt="" style="width: 80px;" /></a>
            <img src="imagens/logoPPGE.jpg"  style="height: 80px" /></a>
        </td>
        <td>&nbsp;</td>
        <td>
<!--  <img alt="" src="imagens/uitc.png"/>-->
            <img alt="" src="imagens/capes.jpg" style="width: 80px;margin-right: 20px" />
        </td>
        <td>
            <img alt="" src="imagens/fapesc.gif"
                 style="width: 120px; height: 80px;" />
        </td>
    </tr>
</table>
<div id="rodape">
    <div class="copyright" style="left: 40px;">Todos os direitos reservados
        &copy; 2018</div>
    <div id="get">
        <a href="http://www.getsystem.com.br" target="_blank"><img
            src="imagens/logo.jpg" /></a>
    </div>
</div>
</div>
</body>
</html>
    