<html>

<head>
<title>Grupo de Pesquisa Gecal</title>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<!-- 	<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}" type="text/css" /> -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!--     <link rel="stylesheet" href="{% static 'css/styles.css' %}"/> -->

<style>
.jumbotron {
	background-color: #2E2D88;
	color: white;
}
</style>
</head>

<body class="body" style="background-color: #f6f6f6">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavBar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> <img
					src="{% static 'imagens/logo_gecal.jpg' %}" class="responsive-img"
					style='max-height: 20px;' alt="face">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavBar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"> Projetos <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#"> Projetos de Pesquisa </a></li>
							<li><a href="#"> Projetos de Extensão </a></li>
						</ul></li>
					<li><a href="#">Pesquisadores</a></li>
					<li><a href="#">Bolsistas</a></li>
					<li><a href="#">Galerias</a></li>
					<!-- 					<li><a href=" url 'paginasGecal:formulario_denuncia' ">Denúncias</a></li> -->
					<li><a href="{% url 'paginasGecal:qualquerNome' %}">Outro
							Formulário</a></li>
					<!-- 					<li><a href=" url 'app_teste:ind_app_teste' ">App_teste</a></li> -->
					<li><a href="{% url 'denunciar:indice_denunciar' %}">Denunciar</a></li>
					<!-- 					<li><a href=" url 'denuncias' ">Denúncias</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<p>
				Gênero, Educação e Cidadania na América Latina: aproximações e
				desafios (GECAL) <br> Líder: Mareli Eliane Graupe – UNIPLAC <br>
				Vice-Líder: Josilaine Antunes Pereira
			</p>

		</div>

		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>HISTÓRICO</h4>
				O grupo de pesquisa foi criado no ano de 2013. Reúne
				pesquisadoras/es de diferentes países e Instituições de Ensino
				Superior na América do Sul em torno das temáticas Educação, Estudos
				de Gênero e Cidadania. Esse grupo possui como finalidade aumentar o
				impacto de suas pesquisas e com isso maior repercussão local,
				nacional e internacional atendendo as demandas de nossa sociedade.
				Com a realização de pesquisas busca-se articular o tripé Pesquisa,
				Ensino e Extensão na perspectiva da construção de uma universidade
				comprometida com a qualidade na formação de pesquisadoras/es e com a
				luta de enfrentamento de injustiças sociais.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<br><br>
				O GECAL apresenta um caráter inter e transdisciplinar,
				proporcionando aos integrantes das linhas de pesquisa a capacidade
				de gerar conhecimentos de fronteira, com destaque a temas relevantes
				da atualidade, que permitam associar pesquisador@s com diferentes
				competências em propostas bem definidas e focadas, e levando em
				conta as atividades científicas que podem ser geradas como fruto
				dessa associação: publicações em revistas científicas, livros,
				formação de novas equipes, de recursos humanos nas próprias
				instituições envolvidas e geração de conhecimentos fundamentais para
				políticas públicas no campo da educação.
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>Column 3</h4>
				Pellentesque vulputate faucibus leo, non blandit ante faucibus
				maximus. Nunc non neque laoreet, tincidunt nisl et, tristique odio.
				Nullam imperdiet sollicitudin neque malesuada ornare. Curabitur
				ultrices urna id gravida lacinia. Nunc eu neque vitae nisi luctus
				rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Pellentesque habitant morbi tristique senectus et netus et malesuada
				fames ac.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>
					<a href="#col4Content" data-toggle="collapse"> Column 4 </a>
				</h4>
				<div id="col4Content" class="collapse in">Vestibulum vitae
					lacus eu metus finibus viverra vel blandit justo. Suspendisse ac
					sapien sapien. In a pellentesque ipsum. Donec quis venenatis
					lectus, at vehicula nulla. Etiam imperdiet tellus sit amet lobortis
					varius. Pellentesque sit amet arcu quis sem pretium luctus. Aliquam
					vitae neque id augue sollicitudin mattis id vitae lorem. Quisque a
					metus fermentum, ultricies diam non, dignissim nibh. Aliquam erat</div>

			</div>
		</div>

		<br>
		<br>
		<br>

		<div class="container">
			<div class="row">

				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#superman">Superman</a></li>
					<li><a data-toggle="tab" href="#batman">Batman</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Flash<span class="caret"></span></a>
						<ul class="dropdown-menu">

							<li class="disabled"><a data-toggle="tab" href="#flash">The
									Flash</a></li>
							<li><a data-toggle="tab" href="#kidFlash">Kid Flash</a></li>
						</ul></li>
				</ul>
				<div class="col-md-6">
					<div class="tab-content">
						<div id="superman" class="tab-pane fade in active">
							<p>Superman is a fictional hero
						</div>
						<div id="batman" class="tab-pane fade">
							<p>Batman is a fictional hero
						</div>
						<div id="flash" class="tab-pane fade">
							<p>Flash is a fictional hero
						</div>
						<div id="kidFlash" class="tab-pane fade">
							<p>Kid Flash is a fictional hero
						</div>
					</div>
				</div>


				<div class="col-md-6">
					<!-- col-md-offset-6" -->
					<table class="table table-ordered table-striped table-hover">
						<thead>
							<tr>
								<td colspan="4">Bolsistas</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="col-md-2"></th>
								<th class="text-center">Funções</th>
								<th class="text-center">Curso</th>
								<th class="text-center">Nome</th>
							</tr>
							<tr>
								<td><a href="#"> bolsista 1 </a></td>
								<td>Organizar Papelada burocrática</td>
								<td>Administração</td>
								<td>nome bolsista 1</td>
							</tr>
							<tr>
								<td><a href="#"> bolsista 2 </a></td>
								<td>Manutenção, comunicação, revisão</td>
								<td>Sistemas de Informação</td>
								<td>nome bolsista 2</td>
							</tr>
							<tr>
								<td><a href="#"> bolsista 3 </a></td>
								<td>Receber e encaminhar pedidos e solicitações</td>
								<td>Engenharia</td>
								<td>nome bolsista 3</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>
		</div>
		{% block content %} {% endblock %}
	</div>
</body>

<footer>
	<div class="container-fluid" style="margin-left: 15px">
		<p>
			<a
				href="https://www.facebook.com/Gecal-Grupo-de-Pesquisa-em-G%C3%AAnero-Educa%C3%A7%C3%A3o-e-Cidadania-na-Am%C3%A9rica-Latina-1789206161123983/"
				target="blank">Facebook</a> | <a
				href="http://dgp.cnpq.br/dgp/espelhogrupo/0019510862452049"
				target="blank">CNPq</a>
		</p>
	</div>
</footer>

</html>

</html>